/* You can add global styles to this file, and also import other style files */
.dsn {
    display: none;
}
.f-12 { font-size: 12px;}
.f-14 { font-size: 14px;}
.f-16 { font-size: 16px;}
.f-18 { font-size: 18px;}
.f-20 { font-size: 20px;}
.f-22 { font-size: 22px;}
.f-24 { font-size: 24px;}
.f-26 { font-size: 26p2;}
.f-28 { font-size: 28px;}
.f-30 { font-size: 30px;}
.f-32 { font-size: 32px;}
a:hover,a:active,a:link {
    text-decoration: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}